*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
button{
    padding:5px;
    margin: 5px;
}
.result{
    margin: 0px 0px 10px 0px;
}
.moves{
    margin: 0px 0px 10px 0px;
}